body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: black;
  text-transform: uppercase;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}

h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

.html, 
body {
  min-width: 1200px;
}

.container-shadow {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.site-navigation {
  display: flex;
  flex-basis: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
  
  list-style: none;

  min-height: 56px;

  font-weight: bold;
}

.site-navigation a {
  color: #000000;
}
.site-navigation li:nth-child(2n){
  margin-right: auto;
}
.site-navigation li {
  width: 263px;
}

.site-navigation li:nth-child(3n),
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #a3c7de;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation:first-child{
  margin-left: 73px;
}

.site-navigation:last-child{
  margin-right: 73px;
}

.site-navigation-current.active a {
  color: #766357;
}

.main-header-logo {
  /* отцентровали лого и задали смещение влево на половину ширины картинки */
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.welcome {
  background-image: url("../img/sedona-index-1200.jpg");
  background-position: center;
  background-size: cover;
  height: 650px;
}

.white-mask{
  background-image: url("../img/white-mask.png");
  height: 57px;
  margin-top: -57px;
}

.features {
  margin-top: 56px;
  text-align: center;
}

.feature-text-grey {
  color: #333333;
  font-size: 14px;
}

.features .feature-text-grey {
  margin-top: 24px;
}

.features-container-1 {
  margin-top: 105px;
}

.features-container-1 {
  margin-top: 57px;
}

.features-container-1 .feature-item-text {
  padding-left: 50px;
  padding-right: 50px;
}

.feature-item {
  padding-top: 38px;
}

.feature-item-number {
  margin-top: 15px;
}

.feature-item-text {
  margin-top: 20px;
}

.blue-background {
  color: #ffffff;
  background-color: #81b3d2;
}

.grey-background {
  background-color: #eeeeee;
}

.features-list{
  list-style: none;
}

.feature-item h3 {
  position: relative;
  font-size: 21px;
  line-height: 26px;
}

.with-icon h3::before {
  position: absolute;
  left: 50%;
  margin-left: -37px;

  content: ' ';

}

.accomodation-icon::before {
  background-image: url("../img/icon-1.svg");
  height: 72px;
  width: 75px;
  top: -94px;
}

.food-icon::before {
  background-image: url("../img/icon-3.svg");
  height: 70px;
  width: 75px;
  top: -92px;
}

.souvenir-icon::before {
  background-image: url("../img/icon-2.svg");
  height: 75px;
  width: 65px;
  top: -96px;
}

.photo {
  display: flex;
  flex-grow: 1;
  height: 255px;
  width: 800px;
}

.features-container-1 .photo {
  background-image: url("../img/background-photo-1.jpg");

}

.features-container-2 {
  margin-top: 118px;
}

.features-container-2 .feature-item-text:nth-child(1n),
.features-container-2 .feature-item-text:nth-child(3n) {
  padding-left: 60px;
  padding-right: 60px;
}

.features-container-2 .feature-item-text:nth-child(2n){
  padding-left: 50px;
  padding-right: 50px;
}

.features-container-3 {
  margin-top: 86px;
}

.features-container-3 .photo {
  background-image: url("../img/background-photo-2.jpg");
}

.features-container-4 {
  padding-bottom: 63px;
}

.features-container-4 ul:last-child .feature-item-text{
  padding-left: 75px;
  padding-right: 75px;
}

.features-container-4 .feature-item-text:nth-child(1n),
.features-container-4 .feature-item-text:nth-child(2n) {
  padding-left: 65px;
  padding-right: 65px;
}

.features-container-4 h3 {
  padding-left: 130px;
  padding-right: 130px;
}

.hotel-search-intro {
  text-align: center;
  margin-top: 50px;
}

.hotel-search-intro {
  font-size: 21px;
  padding-left: 380px;
  padding-right: 380px; 
}

.hotel-search-button {
  display: block;
  width: 570px;
  height: 85px;
  font-size: 21px;
  line-height: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
}



.hotel-search a,
.brown-button {

}

.hotel-search a:hover,
.hotel-search a:focus,
.brown-button:hover,
.brown-button:focus {
  color: #ffffff;
  background-color: #604e43;
}

.hotel-search a:active,
.brown-button:active {
  color: #857871;
  background-color: #503e33
}

.hotel-search-item {
  color:#000000;
  font-weight: bold;
}

.hotel-search-form button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.hotel-search-form button:hover,
.hotel-search-form button:focus,
.blue-button:hover,
.blue-button:focus {
  background-color: #669ec0;
}


.hotel-search-form button:active,
.blue-button:active {
  color: #88b6d1;
  background-color: #669ec0;
}

.hotel-search-item input {
  font: inherit;
  
  text-transform: uppercase;
  background-color: #f2f2f2;
  }

.hotel-search-item input:hover,
.hotel-search-item input:focus {
  background-color: #ebebeb;
}

.hotel-search-item input:active {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: #000000;
  background-color: white;
  opacity: 0.9;
  height: 120px;
}

.main-footer {
  margin-top: -120px;
}

.hashtag-sedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
  opacity: 1;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright-wrapper {
  display: flex;
  align-items: center;
}

.footer-copyright-wrapper a {
  height: 40px;
}

.footer-copyright-wrapper svg {
  margin-left: 8px;
  height: 40px;
}

.footer-copyright-wrapper a svg:hover path,
.footer-copyright-wrapper a svg:focus path,
.footer-copyright-wrapper a svg:hover rect,
.footer-copyright-wrapper a svg:focus rect { 
  fill: #81b3d2;
}

.footer-copyright-wrapper a svg:active path,
.footer-copyright-wrapper a svg:active rect { 
  fill: #bdbbbc;
}

.footer-copyright-wrapper a:hover,
.footer-copyright-wrapper a:focus {
  color: #669ec0;
}
.footer-copyright-wrapper a:active {
  color: #bdbbbc;
}

.filters {
  color: white;
  background: url("../img/filter-background.jpg");
  min-height: 216px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  
  
  border: none;
}

.filter legend {
  margin-bottom: 22px;
  padding-left: 73px;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.catalog ul,
.filters ul {
  list-style: none;
}

.filter ul {
  padding: 0;
  margin: 0;
}

.filter-option {
  margin-bottom: 23px;
  padding-left: 112px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -31px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -31px;
  top: 0;

  width: 27px;
  height: 23px;
  color: white;

  background-image: url("../img/checkbox-on.svg");
}

.features-container-1 {
  display: flex;
}

.features-list {
  display: flex;
}

.features-container-3 {
  display: flex;
}

.feature-item {
  width: 400px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 48px;

  background-color: #81b3d2;
}

.filters-wrapper {
  display: flex;
  padding-top: 30px;
}
.infrastructure {
  width: 240px;
  margin-left:  px;
}

.accomodation-type {
  width: 288px;
  margin-right: 200px;
}

.price-filter {
  width: 328;
  margin-left: 73px;
}

.filter-range {
    
  width: 330px;
  /* margin-top: 30px; */
  margin-left: auto;
  padding-right: 73px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.search-results {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 73px;
}

.search-results-number {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-right: 49px;
}

.search-results-sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  margin-right: 39px;
}

.search-results-sorting-option {
  font-size: 12px;
  line-height: 18px;
  margin-right: 33px;
}

.search-results-sorting-option.active a,
a.descending-order.active {
  color: #81b3d2;
  text-decoration: none;
  border-bottom: none;
}

.search-results-sorting-option a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.search-results-sorting-option a:current {
  color: #81b3d2;
}

.search-results-sorting-option a:hover,
.search-results-sorting-option a:focus {
  color: #81b3d2;
  text-decoration: underline;
  border-bottom: 1px dotted #81b3d2;
}

.search-results-sorting-option a:active {
  color: black;
  text-decoration: none;
  border-bottom: none;
}

.search-results {
  display: flex;
}

.sorting-direction {
  margin-left: auto;
  padding-right: 73px;
}


a.ascending-order svg polygon {
  fill: #cacaca;
}

a.descending-order svg:focus polyline,
a.ascending-order svg:focus polygon,
a.descending-order svg:hover polyline,
a.ascending-order svg:hover polygon {
  fill: black;
}

a.descending-order svg:active polyline,
a.ascending-order svg:active polygon,
a.descending-order.active polyline {
  fill: #81b3d2;
}


/* .ascending-order a{
  background-image: url("../img/icon-up-dir.svg");
  width: 11px;
  height: 10px;
} */
/* 
.search-results-wrapper {
  position: relative;
}

.search-results-wrapper::before {
  position: absolute;
  left: 50%;
  margin-left: -37px;

  content: ' ';
  background-color: red;
} */


.catalog-list {
  display: flex;
  flex-direction: column;
}

.catalog-item {
  display: flex;
}

.amara,
.villas,
.desert {
  display: flex;
}

.catalog-list li {
  border-top: 1px solid #e5e5e5;
  padding-left: 73px;
  padding-top: 31px;
  padding-right: 73px;
  padding-bottom: 30px;
}

.catalog-list:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
  padding-left: 31px;
}

.hotel-info h3{
  margin-top: -6px;
}

.hotel-info-wrapper {
  display: flex;
}

.hotel-name {
  margin-right: 6px;
}

.more-book .button {
  margin-top: 10px;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* .hotel-rating::before {
  position: absolute;
  left: 50%;
  margin-left: -37px;

  background-image: url("../img/★ .svg");
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  content: ' ';
  background-color: red;

} */

/* .star {
  background-image: url("../img/★ .svg");
  background-repeat: no-repeat;

} */

.stars {
  height: 17px;
}

.star {
  height: 17px;
  width: 17px;
}

/* .star::before {
  position: absolute;
  left: 50%;
  margin-left: -37px;

  background-image: url("../img/★ .svg");
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  content: ' ';
  background-color: red;
} */

.stars {
  text-align: right;
  margin-left: 5px;
}

.stars img {
  margin-left: 3px;
}

.custom-button {
  display: inline-block;
  text-align: center;
  min-height: 27px;
  line-height: 27px;
  color: white;
}

.blue-button {
  min-width: 110px;
  background-color: #81b3d2;
}

.brown-button {
  
  min-width: 142px;
  background-color: #766357;  
}

.raiting {
  display: block;
  width: 111px;
  height: 27px;
  background-color: #f2f2f2;
  color: #666666;
  line-height: 27px;
  text-align: center;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
