body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: black;
  text-transform: uppercase;

  background-color: #ffffff;
  


}
a {
  text-decoration: none;
}

.html, 
body {
  min-width: 1200px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}



.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.site-navigation {
  display: flex;
  flex-basis: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
  
  list-style: none;

  min-height: 56px;

  font-weight: bold;
}

.site-navigation a {
  color: #000000;
}
.site-navigation li:nth-child(2n){
  margin-right: auto;
}
.site-navigation li {
  width: 263px;
}

.site-navigation li:nth-child(3n),
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #a3c7de;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation:first-child{
  margin-left: 73px;
}

.site-navigation:last-child{
  margin-right: 73px;
}

.main-header-logo {
  /* отцентровали лого и задали смещение влево на половину ширины картинки */
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

.welcome {
  background-image: url("../img/sedona-index-1200.jpg");
  background-position: center;
  background-size: cover;
  height: 650px;
}

.features {
  margin-top: 60px;
}

.features-container-1 {
  margin-top: 105px;
}

.features-container-1 .blue-background {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 60px;
  padding-right: 60px;
}
.features h2,
.features p {
  text-align: center;
}

.features-list,
.feature-item {
  list-style: none;
}

.feature-item {
  text-align: center;
  padding-top: 70px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 80px;
}

.feature-item p {
  margin: 0 10px;
}

.feature-item h3 {
  position: relative;
  font-size: 21px;
  line-height: 26px;
}

.feature-item h3::before {
  content: "";

  position: absolute;

  width: 20px;
  height: 20px;
  right: 50%;
  top: -50px;

  background-color: red;
}

accomodation-icon::before {
  background-image: url("../img/icon-1.svg");
}

.blue-background {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
}

.features-container-1 .photo {
  display: flex;
  flex-grow: 1;
  background-image: url("../img/background-photo-1.jpg");
}

.features-container-3 .photo {
  display: flex;
  flex-grow: 1;
  background-image: url("../img/background-photo-2.jpg");
}

.features-container-3 .blue-background {
  padding-top: 20px;
  padding-bottom: 62px;
  padding-left: 45px;
  padding-right: 45px;

}

.grey-background {
  color:#000000;
  background-color: #eeeeee;
  text-align: center;
}

.hotel-search a,
.brown-button {
  color: #ffffff;
  background-color: #766357;
  text-align: center;
}

.hotel-search a:hover,
.hotel-search a:focus,
.brown-button:hover,
.brown-button:focus {
  color: #ffffff;
  background-color: #604e43;
}

.hotel-search a:active,
.brown-button:active {
  color: #604e43;
  background-color: #503e33
}

.hotel-search-item {
  color:#000000;
  font-weight: bold;
}

.hotel-search-form button,
.blue-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.hotel-search-form button:hover,
.hotel-search-form button:focus,
.blue-button:hover,
.blue-button:focus {
  background-color: #669ec0;
}


.hotel-search-form button:active,
.blue-button:active {
  color: #88b6d1;
  background-color: #669ec0;
}

.hotel-search-item input {
  font: inherit;
  
  text-transform: uppercase;
  background-color: #f2f2f2;
  }

.hotel-search-item input:hover,
.hotel-search-item input:focus {
  background-color: #ebebeb;
}

.hotel-search-item input:active {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}

.main-footer {
  color: #000000;
}

.hashtag-sedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #000000;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #669ec0;
}
.footer-copyright a:active {
  color: #bdbbbc;
}

.filters {
  color: white;
  background: url("../img/filter-background.jpg");
}

.filter fieldset {
  border: none;
}

.catalog ul,
.filters ul {
  list-style: none;
}

.features-container-1 {
  display: flex;
}

.features-list {
  display: flex;
}

.features-container-3 {
  display: flex;
}

.features-container-4 .feature-item {
  width: 400px;
  padding-top: 46px;
  padding-bottom: 60px;
}

.feature-item {
  width: 400px;
  height: 255px;
}

.main-footer {
  display: flex;
  justify-content: space-around;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.filters-wrapper {
  display: flex;
}
.infrastructure {
  width: 240px;
  margin-left:  px;
}

.accomodation-type {
  width: 288px;
  margin-right: 200px;
}

.price-filter {
  width: 328;
  margin-left: 73px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
}

.catalog-item {
  display: flex;
}

.amara,
.villas,
.desert {
  display: flex;
}

.catalog-list img {
  padding-left: 73px;
  padding-top: 31px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.hotel-info {
  width: 364px;
  padding-top: 31px;
  
}

.hotel-rating {
  width: 313px;
  margin-left: auto;
  padding-bottom: 31px; 
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
